{{!-- {{outlet}} --}}
<div local-class="detail-container">
	<div local-class="title-bar">
		<span local-class="date">2月份计划部署</span>
		<span local-class="setting"> <img src="/assets/images/hosp-setting.png" alt=""> </span>
	</div>
	<div local-class="menu-bar">
		<div local-class="menu menu-left">
			<span>通知</span>
			<span>信息库</span>
			<span>当前部署分析</span>
		</div>
		<div local-class="menu menu-right">
			<span local-class="budget" {{action 'budget'}}>预算 <span class="glyphicon glyphicon-triangle-bottom"></span> </span>
			<span local-class="human" {{action 'human'}}>人力 <span class="glyphicon glyphicon-triangle-bottom"></span> </span>
			<span local-class="btn-submit">提交执行 <span class="glyphicon glyphicon-menu-right"></span> </span>
		</div>
		{{#if budgetTip}}
			<div local-class="budget-tip">
				<div local-class="triangle"></div>
				<div local-class="rectangle">
					<p local-class="budget-text"> <span>预算</span> <span>600000/800000</span> <span>5%</span> </p>
					<div local-class="self-progress" class="progress">
						<div local-class="self-progress-bar" class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 40%;">
							<span class="sr-only">40% 完成</span>
						</div>
					</div>
				</div>
			</div>
		{{/if}}
		{{#if humanTip}}
			<div local-class="human-tip">
				<div local-class="triangle"></div>
				<div local-class="rectangle">
					<p local-class="human-text"> <span>代表1</span> <span>20/30天</span> <span>5%</span> </p>
					<div local-class="self-progress" class="progress">
						<div local-class="self-progress-bar" class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: 95%;">
							<span class="sr-only">95% 完成</span>
						</div>
					</div>
					<p local-class="human-text"> <span>代表1</span> <span>20/30天</span> <span>25%</span> </p>
					<div local-class="self-progress" class="progress">
						<div local-class="self-progress-bar" class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;">
							<span class="sr-only">75% 完成</span>
						</div>
					</div>
					<p local-class="human-text"> <span>代表1</span> <span>20/30天</span> <span>60%</span> </p>
					<div local-class="self-progress" class="progress">
						<div local-class="self-progress-bar" class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%;">
							<span class="sr-only">40% 完成</span>
						</div>
					</div>
					<p local-class="human-text"> <span>代表1</span> <span>20/30天</span> <span>5%</span> </p>
					<div local-class="self-progress" class="progress">
						<div local-class="self-progress-bar" class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 40%;">
							<span class="sr-only">40% 完成</span>
						</div>
					</div>
					<p local-class="human-text"> <span>代表1</span> <span>20/30天</span> <span>5%</span> </p>
					<div local-class="self-progress" class="progress">
						<div local-class="self-progress-bar" class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
							<span class="sr-only">80% 完成</span>
						</div>
					</div>
				</div>
			</div>
		{{/if}}

	</div>
	<div local-class="content">
		<div local-class="hosp-nav" class="container">
			<p>&lt;&lt;返回医院列表</p>
			<div local-class="nav-right">
				<p>第 1 家/共 5 家</p>
				<p><span class="glyphicon glyphicon-triangle-left"></span>上一家</p>
				<p>下一家<span class="glyphicon glyphicon-triangle-right"></span></p>
			</div>
		</div>
		<div local-class="hosp-detail" class="container">
			<div local-class="basic-info" class="row">
				<div local-class="info-left" class="col-md-8 col-sm-8">
					<p local-class="title"> <span local-class="hosp-title">中日医院</span> <span local-class="hosp-tab tab-active" {{action "changeTabs"}}> 基础信息</span> <span local-class="hosp-tab" {{action "changeTabs"}}>医院新闻动态</span> <span local-class="hosp-tab" {{action "changeTabs"}}>用药政策/理念</span> </p>
					<div local-class="tab-container">
						<div local-class="tab-content">
							<p>医院类型</p>
							<p>综合</p>
						</div>
						<div local-class="tab-content">
							<p>医院等级</p>
							<p>三甲</p>
						</div>
						<div local-class="tab-content">
							<p>病床数量</p>
							<p>1000</p>
						</div>
						<div local-class="tab-content">
							<p>特色科室</p>
							<p>皮肤科</p>
						</div>
						<div local-class="tab-content">
							<p>门诊人次/年</p>
							<p>1034232</p>
						</div>
						<div local-class="tab-content">
							<p>手术台数</p>
							<p>1000</p>
						</div>
						<div local-class="tab-content">
							<p>住院人数/年</p>
							<p>1000</p>
						</div>
						<div local-class="tab-content">
							<span>更多</span>
						</div>
					</div>
				</div>
				<div local-class="info-right" class="col-md-4 col-sm-4">
					<div local-class="sign-person" class="row">
						<div local-class="sign-left" class="col-md-9 col-sm-9">
							<p>人员分配</p>
							<p>-请分配代表负责该医院</p>
						</div>
						<div local-class="sign-right" class="col-md-3 col-sm-9">
							<span>+</span>
						</div>
					</div>

				</div>
			</div>
			<div local-class="medicine-info">
				<div local-class="medicine">
					<div local-class="left">
						<p local-class="title">口服抗生素</p>
						<div local-class="properties">
							<div local-class="property">
								<p>药品市场潜力</p>
								<p>5970000</p>
							</div>
							<div local-class="property">
								<p>潜力增长</p>
								<p><span></span>99%</p>
							</div>
							<div local-class="property">
								<p>上期销售额</p>
								<p>557744</p>
							</div>
							<div local-class="property">
								<p>上期增长</p>
								<p><span></span>99%</p>
							</div>
							<div local-class="property">
								<p>份额</p>
								<p>99.9%</p>
							</div>
							<div local-class="property">
								<p>上期贡献率</p>
								<p>41.3%</p>
							</div>
						</div>
						<div local-class="compare">
							<div local-class="left-tabs">
								<span local-class="tab medicine-tab-active" {{action "changeMedicTab"}}>a</span>
								<span local-class="tab">a</span>

								<span local-class="tab">a</span>

							</div>
							<div local-class="right-content">
								should in here
								{{self-table }}
							</div>
						</div>
					</div>
					<div local-class="right">

					</div>
				</div>
			</div>
		</div>
	</div>
</div>
